.e40_708 { 
	overflow:hidden;
}
.e40_708 { 
	background-color:rgba(244.0000006556511, 245.00000059604645, 254.00000005960464, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e40_709 { 
	background-color:rgba(255, 255, 255, 1);
	width:1318px;
	height:883px;
	position:absolute;
	left:72px;
	top:42px;
	border-top-left-radius:51px;
	border-top-right-radius:51px;
	border-bottom-left-radius:51px;
	border-bottom-right-radius:51px;
}
.e40_709 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e40_710 { 
	background-color:rgba(255, 255, 255, 1);
	width:1318px;
	height:883px;
	position:absolute;
	left:72px;
	top:42px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e40_710 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e40_712 { 
	background-color:rgba(255, 255, 255, 1);
	width:432px;
	height:281px;
	position:absolute;
	left:82px;
	top:351px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e40_712 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e40_713 { 
	background-color:rgba(255, 255, 255, 1);
	width:411px;
	height:281px;
	position:absolute;
	left:526px;
	top:351px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e40_713 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e40_714 { 
	background-color:rgba(255, 255, 255, 1);
	width:428px;
	height:281px;
	position:absolute;
	left:950px;
	top:351px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e40_714 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e40_715 { 
	background-color:rgba(255, 255, 255, 1);
	width:432px;
	height:266px;
	position:absolute;
	left:82px;
	top:648px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e40_715 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e40_716 { 
	background-color:rgba(255, 255, 255, 1);
	width:411px;
	height:266px;
	position:absolute;
	left:526px;
	top:648px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e40_716 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e40_717 { 
	background-color:rgba(255, 255, 255, 1);
	width:428px;
	height:267px;
	position:absolute;
	left:950px;
	top:642px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e40_717 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e40_718 { 
	background-color:rgba(255, 255, 255, 1);
	width:432px;
	height:286px;
	position:absolute;
	left:82px;
	top:51px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e40_718 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e40_719 { 
	background-color:rgba(255, 255, 255, 1);
	width:411px;
	height:286px;
	position:absolute;
	left:526px;
	top:51px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e40_719 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e40_720 { 
	background-color:rgba(255, 255, 255, 1);
	width:428px;
	height:286px;
	position:absolute;
	left:950px;
	top:51px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e40_720 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e40_722 { 
	background-color:rgba(255, 255, 255, 1);
	width:419px;
	height:101px;
	position:absolute;
	left:691px;
	top:955px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.e40_722 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e40_723 { 
	background-color:rgba(255, 255, 255, 1);
	width:68px;
	height:68px;
	position:absolute;
	left:702px;
	top:973px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e40_723 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e40_724 { 
	background-color:rgba(255, 255, 255, 1);
	width:41px;
	height:42px;
	position:absolute;
	left:455px;
	top:275px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e40_724 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e40_756 { 
	background-color:rgba(255, 255, 255, 1);
	width:41px;
	height:42px;
	position:absolute;
	left:406px;
	top:275px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e40_756 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e40_725 { 
	background-color:rgba(255, 255, 255, 1);
	width:67px;
	height:68px;
	position:absolute;
	left:785px;
	top:973px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e40_725 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e40_728 { 
	background-color:rgba(255, 255, 255, 1);
	width:68px;
	height:68px;
	position:absolute;
	left:867px;
	top:973px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e40_728 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e40_730 { 
	background-color:rgba(255, 255, 255, 1);
	width:245px;
	height:100px;
	position:absolute;
	left:429px;
	top:955px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e40_730 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e40_731 { 
	background-color:rgba(255, 255, 255, 1);
	width:67px;
	height:68px;
	position:absolute;
	left:950px;
	top:973px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e40_731 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e40_732 { 
	background-color:rgba(255, 255, 255, 1);
	width:68px;
	height:68px;
	position:absolute;
	left:1032px;
	top:973px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e40_732 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e40_759 { 
	background-color:rgba(255, 255, 255, 1);
	width:178px;
	height:77px;
	position:absolute;
	left:1569px;
	top:964px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e40_759 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e40_760 { 
	background-color:rgba(255, 255, 255, 1);
	width:129px;
	height:77px;
	position:absolute;
	left:1428px;
	top:964px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e40_760 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e40_753 { 
	color:rgba(0, 0, 0, 1);
	width:206px;
	height:29px;
	position:absolute;
	left:455px;
	top:978px;
	font-family:Baloo Bhaijaan;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e40_711 { 
	background-color:rgba(255, 255, 255, 1);
	width:419px;
	height:883px;
	position:absolute;
	left:1428px;
	top:42px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e40_711 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e40_721 { 
	background-color:rgba(255, 255, 255, 1);
	width:122px;
	height:33px;
	position:absolute;
	left:1443px;
	top:54px;
	border-top-left-radius:29px;
	border-top-right-radius:29px;
	border-bottom-left-radius:29px;
	border-bottom-right-radius:29px;
}
.e40_721 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e40_757 { 
	background-color:rgba(255, 255, 255, 1);
	width:88px;
	height:77px;
	position:absolute;
	left:1759px;
	top:964px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e40_757 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e40_733 { 
	transform: rotate(-0.000005008956538086317deg);
	width:419px;
	height:0px;
	position:absolute;
	left:1428px;
	top:98px;
}
.e40_733 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e40_744 { 
	background-color:rgba(255, 255, 255, 1);
	width:55px;
	height:53px;
	position:absolute;
	left:1446px;
	top:125px;
	border-top-left-radius:29px;
	border-top-right-radius:29px;
	border-bottom-left-radius:29px;
	border-bottom-right-radius:29px;
}
.e40_744 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e40_745 { 
	background-color:rgba(255, 255, 255, 1);
	width:56px;
	height:53px;
	position:absolute;
	left:1768px;
	top:308px;
	border-top-left-radius:29px;
	border-top-right-radius:29px;
	border-bottom-left-radius:29px;
	border-bottom-right-radius:29px;
}
.e40_745 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e40_746 { 
	background-color:rgba(255, 255, 255, 1);
	width:240px;
	height:42px;
	position:absolute;
	left:1517px;
	top:152px;
	border-top-left-radius:29px;
	border-top-right-radius:29px;
	border-bottom-left-radius:29px;
	border-bottom-right-radius:29px;
}
.e40_746 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e40_747 { 
	background-color:rgba(255, 255, 255, 1);
	width:239px;
	height:43px;
	position:absolute;
	left:1518px;
	top:336px;
	border-top-left-radius:29px;
	border-top-right-radius:29px;
	border-bottom-left-radius:29px;
	border-bottom-right-radius:29px;
}
.e40_747 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e40_748 { 
	background-color:rgba(255, 255, 255, 1);
	width:240px;
	height:42px;
	position:absolute;
	left:1517px;
	top:208px;
	border-top-left-radius:29px;
	border-top-right-radius:29px;
	border-bottom-left-radius:29px;
	border-bottom-right-radius:29px;
}
.e40_748 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e40_749 { 
	background-color:rgba(255, 255, 255, 1);
	width:240px;
	height:42px;
	position:absolute;
	left:1517px;
	top:389px;
	border-top-left-radius:29px;
	border-top-right-radius:29px;
	border-bottom-left-radius:29px;
	border-bottom-right-radius:29px;
}
.e40_749 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e40_750 { 
	background-color:rgba(255, 255, 255, 1);
	width:400px;
	height:51px;
	position:absolute;
	left:1437px;
	top:863px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e40_750 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e40_751 { 
	color:rgba(0, 0, 0, 1);
	width:97px;
	height:29px;
	position:absolute;
	left:1518px;
	top:121px;
	font-family:Baloo Bhaijaan;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e40_752 { 
	color:rgba(0, 0, 0, 1);
	width:97px;
	height:28px;
	position:absolute;
	left:1660px;
	top:307px;
	font-family:Baloo Bhaijaan;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e40_754 { 
	background-color:rgba(255, 255, 255, 1);
	width:40px;
	height:39px;
	position:absolute;
	left:1789px;
	top:870px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e40_754 { 
	border:2px solid rgba(0, 0, 0, 1);
}
