.e23_99 { 
	overflow:hidden;
}
.e23_99 { 
	background-image:linear-gradient(0deg, rgba(108.00000116229057, 219.0000021457672, 234.00000125169754, 1) 0%,rgba(87.00000241398811, 192.00000375509262, 176.00000470876694, 1) 100%) ;
	width:4965px;
	height:2793px;
	position:absolute;
}
.e24_11 { 
	background-color:rgba(255, 255, 255, 1);
	width:3123px;
	height:2365px;
	position:absolute;
	left:1447px;
	top:214px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_11 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_12 { 
	background-color:rgba(255, 255, 255, 1);
	width:1032px;
	height:2365px;
	position:absolute;
	left:415px;
	top:214px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_12 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_16 { 
	background-color:rgba(255, 255, 255, 1);
	width:856px;
	height:468px;
	position:absolute;
	left:1637px;
	top:830px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_16 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_71 { 
	background-color:rgba(255, 255, 255, 1);
	width:390px;
	height:365px;
	position:absolute;
	left:1687px;
	top:878px;
	border-top-left-radius:53px;
	border-top-right-radius:53px;
	border-bottom-left-radius:53px;
	border-bottom-right-radius:53px;
}
.e24_71 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_26 { 
	background-color:rgba(255, 255, 255, 1);
	width:329px;
	height:329px;
	position:absolute;
	left:766px;
	top:397px;
	border-top-left-radius:225.5px;
	border-top-right-radius:225.5px;
	border-bottom-left-radius:225.5px;
	border-bottom-right-radius:225.5px;
}
.e24_26 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_33 { 
	background-color:rgba(255, 255, 255, 1);
	width:124px;
	height:124px;
	position:absolute;
	left:590px;
	top:2324px;
	border-top-left-radius:225.5px;
	border-top-right-radius:225.5px;
	border-bottom-left-radius:225.5px;
	border-bottom-right-radius:225.5px;
}
.e24_33 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_34 { 
	background-color:rgba(255, 255, 255, 1);
	width:124px;
	height:124px;
	position:absolute;
	left:736px;
	top:2324px;
	border-top-left-radius:225.5px;
	border-top-right-radius:225.5px;
	border-bottom-left-radius:225.5px;
	border-bottom-right-radius:225.5px;
}
.e24_34 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_35 { 
	background-color:rgba(255, 255, 255, 1);
	width:124px;
	height:124px;
	position:absolute;
	left:882px;
	top:2324px;
	border-top-left-radius:225.5px;
	border-top-right-radius:225.5px;
	border-bottom-left-radius:225.5px;
	border-bottom-right-radius:225.5px;
}
.e24_35 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_36 { 
	background-color:rgba(255, 255, 255, 1);
	width:124px;
	height:124px;
	position:absolute;
	left:1028px;
	top:2324px;
	border-top-left-radius:225.5px;
	border-top-right-radius:225.5px;
	border-bottom-left-radius:225.5px;
	border-bottom-right-radius:225.5px;
}
.e24_36 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_37 { 
	background-color:rgba(255, 255, 255, 1);
	width:124px;
	height:124px;
	position:absolute;
	left:1174px;
	top:2324px;
	border-top-left-radius:225.5px;
	border-top-right-radius:225.5px;
	border-bottom-left-radius:225.5px;
	border-bottom-right-radius:225.5px;
}
.e24_37 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_20 { 
	background-color:rgba(255, 255, 255, 1);
	width:856px;
	height:468px;
	position:absolute;
	left:1637px;
	top:1378px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_20 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_23 { 
	background-color:rgba(255, 255, 255, 1);
	width:856px;
	height:468px;
	position:absolute;
	left:1637px;
	top:1926px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_23 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_17 { 
	background-color:rgba(255, 255, 255, 1);
	width:818px;
	height:468px;
	position:absolute;
	left:2620px;
	top:830px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_17 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_21 { 
	background-color:rgba(255, 255, 255, 1);
	width:818px;
	height:468px;
	position:absolute;
	left:2620px;
	top:1378px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_21 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_24 { 
	background-color:rgba(255, 255, 255, 1);
	width:818px;
	height:468px;
	position:absolute;
	left:2620px;
	top:1926px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_24 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_19 { 
	background-color:rgba(255, 255, 255, 1);
	width:818px;
	height:468px;
	position:absolute;
	left:3565px;
	top:830px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_19 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_22 { 
	background-color:rgba(255, 255, 255, 1);
	width:818px;
	height:468px;
	position:absolute;
	left:3565px;
	top:1378px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_22 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_25 { 
	background-color:rgba(255, 255, 255, 1);
	width:818px;
	height:468px;
	position:absolute;
	left:3565px;
	top:1926px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_25 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_13 { 
	background-color:rgba(255, 255, 255, 1);
	width:981px;
	height:78px;
	position:absolute;
	left:1662px;
	top:522px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_13 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_30 { 
	background-color:rgba(255, 255, 255, 1);
	width:281px;
	height:131px;
	position:absolute;
	left:3383px;
	top:469px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_30 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_502 { 
	background-color:rgba(255, 255, 255, 1);
	width:679px;
	height:131px;
	position:absolute;
	left:3704px;
	top:469px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_502 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_31 { 
	background-color:rgba(255, 255, 255, 1);
	width:281px;
	height:131px;
	position:absolute;
	left:3052px;
	top:469px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_31 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_27 { 
	background-color:rgba(255, 255, 255, 1);
	width:491px;
	height:62px;
	position:absolute;
	left:685px;
	top:788px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_27 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e23_109 { 
	background-color:rgba(255, 255, 255, 1);
	width:491px;
	height:62px;
	position:absolute;
	left:685px;
	top:789px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e23_109 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_72 { 
	background-color:rgba(255, 255, 255, 1);
	width:345px;
	height:62px;
	position:absolute;
	left:2103px;
	top:887px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_72 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_73 { 
	background-color:rgba(255, 255, 255, 1);
	width:345px;
	height:62px;
	position:absolute;
	left:2103px;
	top:977px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_73 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_74 { 
	background-color:rgba(255, 255, 255, 1);
	width:345px;
	height:62px;
	position:absolute;
	left:2103px;
	top:1083px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_74 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_75 { 
	background-color:rgba(255, 255, 255, 1);
	width:345px;
	height:62px;
	position:absolute;
	left:2103px;
	top:1180px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_75 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_28 { 
	background-color:rgba(255, 255, 255, 1);
	width:491px;
	height:40px;
	position:absolute;
	left:685px;
	top:878px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_28 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_32 { 
	background-color:rgba(255, 255, 255, 1);
	width:797px;
	height:1258px;
	position:absolute;
	left:540px;
	top:1008px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_32 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_14 { 
	color:rgba(0, 0, 0, 1);
	width:883px;
	height:145px;
	position:absolute;
	left:1662px;
	top:352px;
	font-family:Baloo Bhaijaan;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}
.e24_42 { 
	width:634px;
	height:124px;
	position:absolute;
	left:614px;
	top:1067px;
}
.e24_39 { 
	background-color:rgba(255, 255, 255, 1);
	width:124px;
	height:124px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:225.5px;
	border-top-right-radius:225.5px;
	border-bottom-left-radius:225.5px;
	border-bottom-right-radius:225.5px;
}
.e24_39 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_40 { 
	background-color:rgba(255, 255, 255, 1);
	width:491px;
	height:62px;
	position:absolute;
	left:143px;
	top:0px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_40 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_41 { 
	background-color:rgba(255, 255, 255, 1);
	width:491px;
	height:32px;
	position:absolute;
	left:143px;
	top:78px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_41 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_43 { 
	width:634px;
	height:124px;
	position:absolute;
	left:614px;
	top:1235px;
}
.e24_44 { 
	background-color:rgba(255, 255, 255, 1);
	width:124px;
	height:124px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:225.5px;
	border-top-right-radius:225.5px;
	border-bottom-left-radius:225.5px;
	border-bottom-right-radius:225.5px;
}
.e24_44 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_45 { 
	background-color:rgba(255, 255, 255, 1);
	width:491px;
	height:62px;
	position:absolute;
	left:143px;
	top:0px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_45 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_46 { 
	background-color:rgba(255, 255, 255, 1);
	width:491px;
	height:32px;
	position:absolute;
	left:143px;
	top:78px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_46 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_47 { 
	width:634px;
	height:124px;
	position:absolute;
	left:614px;
	top:1403px;
}
.e24_48 { 
	background-color:rgba(255, 255, 255, 1);
	width:124px;
	height:124px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:225.5px;
	border-top-right-radius:225.5px;
	border-bottom-left-radius:225.5px;
	border-bottom-right-radius:225.5px;
}
.e24_48 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_49 { 
	background-color:rgba(255, 255, 255, 1);
	width:491px;
	height:62px;
	position:absolute;
	left:143px;
	top:0px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_49 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_50 { 
	background-color:rgba(255, 255, 255, 1);
	width:491px;
	height:32px;
	position:absolute;
	left:143px;
	top:78px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_50 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_51 { 
	width:634px;
	height:124px;
	position:absolute;
	left:614px;
	top:1571px;
}
.e24_52 { 
	background-color:rgba(255, 255, 255, 1);
	width:124px;
	height:124px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:225.5px;
	border-top-right-radius:225.5px;
	border-bottom-left-radius:225.5px;
	border-bottom-right-radius:225.5px;
}
.e24_52 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_53 { 
	background-color:rgba(255, 255, 255, 1);
	width:491px;
	height:62px;
	position:absolute;
	left:143px;
	top:0px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_53 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_54 { 
	background-color:rgba(255, 255, 255, 1);
	width:491px;
	height:32px;
	position:absolute;
	left:143px;
	top:78px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_54 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_55 { 
	width:634px;
	height:124px;
	position:absolute;
	left:614px;
	top:1739px;
}
.e24_56 { 
	background-color:rgba(255, 255, 255, 1);
	width:124px;
	height:124px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:225.5px;
	border-top-right-radius:225.5px;
	border-bottom-left-radius:225.5px;
	border-bottom-right-radius:225.5px;
}
.e24_56 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_57 { 
	background-color:rgba(255, 255, 255, 1);
	width:491px;
	height:62px;
	position:absolute;
	left:143px;
	top:0px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_57 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_58 { 
	background-color:rgba(255, 255, 255, 1);
	width:491px;
	height:32px;
	position:absolute;
	left:143px;
	top:78px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_58 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_59 { 
	width:634px;
	height:124px;
	position:absolute;
	left:614px;
	top:1907px;
}
.e24_60 { 
	background-color:rgba(255, 255, 255, 1);
	width:124px;
	height:124px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:225.5px;
	border-top-right-radius:225.5px;
	border-bottom-left-radius:225.5px;
	border-bottom-right-radius:225.5px;
}
.e24_60 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_61 { 
	background-color:rgba(255, 255, 255, 1);
	width:491px;
	height:62px;
	position:absolute;
	left:143px;
	top:0px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_61 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_62 { 
	background-color:rgba(255, 255, 255, 1);
	width:491px;
	height:32px;
	position:absolute;
	left:143px;
	top:78px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_62 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_67 { 
	width:634px;
	height:124px;
	position:absolute;
	left:614px;
	top:2075px;
}
.e24_68 { 
	background-color:rgba(255, 255, 255, 1);
	width:124px;
	height:124px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:225.5px;
	border-top-right-radius:225.5px;
	border-bottom-left-radius:225.5px;
	border-bottom-right-radius:225.5px;
}
.e24_68 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_69 { 
	background-color:rgba(255, 255, 255, 1);
	width:491px;
	height:62px;
	position:absolute;
	left:143px;
	top:0px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_69 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_70 { 
	background-color:rgba(255, 255, 255, 1);
	width:491px;
	height:32px;
	position:absolute;
	left:143px;
	top:78px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
}
.e24_70 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e24_501 { 
	background-color:rgba(255, 255, 255, 1);
	width:73px;
	height:71px;
	position:absolute;
	left:80px;
	top:68px;
	border-top-left-radius:131.5px;
	border-top-right-radius:131.5px;
	border-bottom-left-radius:131.5px;
	border-bottom-right-radius:131.5px;
}
.e24_501 { 
	border:2px solid rgba(0, 0, 0, 1);
}
